@model Coursemanager.Models.Users
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .login {

            text-align:center;
        }
    </style>
</head>
<body>
    <div class="login">
    <h2>登录</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
     
        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account)
            @Html.ValidationMessageFor(model => model.Account)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Passwoed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Passwoed)
            @Html.ValidationMessageFor(model => model.Passwoed)
        </div>

        <p>
            <input type="submit" value="登录" />
        </p>
 
    }
        </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
