@model IEnumerable<Coursemanager.BLLS.CourseDetail>

@{
    ViewBag.Title = "查看班级情况";
}

<h2>查看班级情况</h2>

<p>
    @Html.ActionLink("Back To List", "Index")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>
    </tr>
}

</table>
