@model IEnumerable<Coursemanager.BLLS.CourseDetail>

@{
    ViewBag.Title = "查看班级情况";
}

<h2>查看班级情况</h2>

<p>
    @Html.ActionLink("Back To List", "Index")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            @Html.ActionLink("查看班级课程安排", "ShowCourseMnanagement", new { id=item.Id })
        </td>
    </tr>
}

</table>
